* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --header-background: #10375c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.control__btn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #575f66;
}
.control__btn:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
.title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.desclv1 {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300; /* 166.667% */
}
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}
/* Header */
.header {
  background: var(--header-background);
  height: 100vh;
  padding: 110px 0;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  background: var(--header-background);
  z-index: 999;
  padding: 15px 135px;
  top: 0;
  left: 0;
}
.nav .navbar__list {
  display: flex;
}
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  position: relative;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  position: absolute;
  display: inline-block;
  color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: currentColor;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.action__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem; /* 175% */
}
.action__signup {
  margin-left: 28px;
  min-width: 104px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 44px;
}
/* Header bottom   */

.header__bottom {
  display: flex;
  margin-top: 76px;
  align-items: center;
  justify-content: space-between;
}
.header__bottom--info {
  width: 44%;
}
.header__bottom--info .header__bottom--title {
  max-width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}
.header__bottom--desc {
  max-width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 38px;
}
.header__bottom--cta {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 20px;
}
.header__bottom--desclv2 {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.header__bottom--media {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header__bottom-wrap {
  display: flex;
  align-items: center;
}

.header__bottom--image1 {
  width: 330px;
  border-radius: 6px;
  height: 540px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}
.header__bottom--image2 {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 0 6px 6px 0;
}
/* SV */
.services {
  margin-top: 70px;
}
.service__top .service__title {
  text-align: center;
}
.service__top .service__desc {
  text-align: center;
  margin: 0 auto;
  width: 468px;
  margin-top: 1.8rem;
}

/* Bot */
.service__bottom {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}
.service__media {
  width: 48%;
}
.service__media .service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}
.service__items {
  display: flex;
  justify-content: center;
}
.service__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__items {
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  padding: 20px 20px 20px 0;
}
.service__items:hover {
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__items .info__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8;
}
.service__items .info__desc {
  width: 351px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__btn {
  width: 205px;
  height: 60px;
  border-radius: 30px;
}
/* Feature */
.feature {
  background: #f6fbff;
  margin-top: 170px;
}
.feature__title {
  font-size: 5rem;
  display: inline-block;
  margin-top: 100px;
}
.feature__desc {
  width: 468px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
  margin-top: 18px;
}
/* FT bot */
.feature__bot {
  margin-top: 86px;
  padding-bottom: 100px;
}
.feature__card {
  display: flex;
  justify-content: space-between;
}
.card--item {
  background-color: #fff;
  border: 16px solid #eaf6ff;
  border-radius: 5px;
  padding-left: 42px;
  padding-right: 42px;
  cursor: pointer;
}
.card--item:hover {
  border-color: #2e80ce;
  transform: translateY(-10px);
  transition: all ease-in-out 0.2s;
  color: #2e80ce;
}
.feature__img {
  margin-top: 43px;
}

.card-title {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 36px; /* 138.462% */
  margin-top: 18px;
}
.card-desc {
  width: 254px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 28px;
}
.card-link {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 18px;
  margin-bottom: 42px;
  display: inline-block;
}

/* Section */
.section {
  margin-top: 170px;
}
.section-wrap {
  display: flex;
  justify-content: space-between;
}
.section-right {
  margin-right: 188px;
}
.section-right .section-img__large {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
  object-fit: cover;
  position: relative;
}
.section-right .section-img__small {
  position: absolute;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  z-index: 1;
  margin-left: -238px;
  margin-top: 121px;
}

.section-title {
  margin-top: 82px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
  width: 470px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
  width: 468px;
  margin-top: 18px;
}
.section-btn {
  margin-top: 38px;
  margin-bottom: 83px;
}
/* DT */
.dentist {
  margin-top: 170px;
}
.dentist-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dentist-title {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  letter-spacing: -1px;
}
.dentist-btn {
  width: 205px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400; /* 166.667% */
  margin-top: 38px;
}
/* Bot */
.dentist-bottom {
  margin-top: 70px;
}
.dentist-list {
  display: flex;
  justify-content: space-between;
}
.dentist-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dentist-item:hover {
  transform: scale(103%);
  transition: all ease-in-out 0.25 s;
}
.dentist-logo {
  border-radius: 6px;
  width: 270px;
  height: 318px;
  object-fit: cover;
}
.dentist-name {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.dentist-info {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
}

.team-control {
  margin-top: 38px;
  justify-content: center;
}
.control-icon__next {
  rotate: 180deg;
}
/* Banner */
.banner {
  padding: 170px 0;
}

.banner-wrap {
  height: 427px;
  display: flex;
  background-color: #2e80ce;
}
.banner-image {
  display: flex;
  margin-left: 70px;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-end;
}
.banner-content {
  float: left;
  margin: auto 0;
  width: 50%;
  margin-left: 160px;
  clear: both;
}
.banner-title {
  width: 489px;
  color: #fff;
  font-size: 5rem; /* 120% */
  letter-spacing: -1px;
  margin-top: 76px;
}
.banner-desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
  width: 586px;
  margin-top: 18px;
}
.banner-dowload {
  display: flex;
  gap: 28px;
  margin-top: 38px;
}
